language: cpp
cache: ccache

# We require CMake 3.10 but on Travis ARM xenial is too old (3.5)
dist: bionic

os:
  - osx
  - linux
osx_image: xcode11.3

arch:
  - amd64
compiler:
  - clang
  - gcc

addons:
  apt:
    packages:
      - ninja-build
  homebrew:
    packages:
      - ninja
      - ccache
    update:
      true

matrix:
  include:
    - os: osx
      compiler: gcc
      env:
        - MATRIX_EVAL="CC=gcc-9 && CXX=g++-9"

script:
  - hack/hack
